@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
    Author: Patrick M Capuano
    Date:   11.30.18       
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page
*/

/* 
:Goals to Reach:

- Media queries that match devices of a specific width with a cutoff for mobile devices at 480 pixels in screen width.
- Layout styles that vary based on the width of the device.
• A navigation list that is initially hidden from the mobile user but that can be displayed in response to a hover or touch event over a navicon.
• Telephone and email links that are reformatted to make them easier to use on mobile devices.
• Tony does not want to display information on surfer slang in the mobile version of this page; exclude those elements in your media query for mobile devices.
• Flex layouts oriented in either the row or column direction. Be sure to include the WebKit browser extension in all of your flex styles.
• Flex items that grow and shrink from a defined initial size based on the width of the device screen.
• Flex items that change their order from the default document order in the HTML file. 
• A flex layout that aligns the flex item content using the justify-content, align-items,
align-content, or align-self properties.
*/

html {
    position: relative;
    background-image: url("jb_back3.png");
    background-position: fixed;
    background-size: .5%;
}

body {
    align-content: top;
    height: 100%;
    margin: auto;
    max-width: 1200px;
    background: white;
}

header {
    background-repeat: round;
    padding: 6em;
}

header img {
    position: absolute;
    left: 40%;
    top: 1em;
    border: solid aqua 2px;
}