@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
    Author: Patrick M Capuano
    Date:   11.30.18       
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page
*/

/* 
:Goals to Reach:

- Media queries that match devices of a specific width with a cutoff for mobile devices at 480 pixels in screen width.
- Layout styles that vary based on the width of the device.
• A navigation list that is initially hidden from the mobile user but that can be displayed in response to a hover or touch event over a navicon.
• Telephone and email links that are reformatted to make them easier to use on mobile devices.
• Tony does not want to display information on surfer slang in the mobile version of this page; exclude those elements in your media query for mobile devices.
• Flex layouts oriented in either the row or column direction. Be sure to include the WebKit browser extension in all of your flex styles.
• Flex items that grow and shrink from a defined initial size based on the width of the device screen.
• Flex items that change their order from the default document order in the HTML file. 
• A flex layout that aligns the flex item content using the justify-content, align-items,
align-content, or align-self properties.
*/

html {
    position: relative;
    background-image: url("jb_back3.png");
    background-position: fixed;
    background-size: 2%;
}

body {
    align-content: top;
    height: 100%;
    margin: auto;
    max-width: 1200px;
    background: white;
}

header {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-image: url("jb_back2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 6em;
    border: solid 5px black;
    text-shadow: 1px 1px black;
}

header img {
    margin: auto;
    width: 30;
    border: solid aqua 2px;
    clear: both;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    font-size: 3em;
}

header section.info1 p {
    color: deepskyblue;
    font-size: 1.2em;
}

header section.info2 p {
    color: deepskyblue;
    font-size: 1.7em;
}

header nav ul li {
    float: left;
    margin: 2em 1em;
    font-family: fantasy;
    font-size: 1.7em;
}

nav a:visited {
    color: blueviolet;
}

nav a:hover {
    color: aqua;
}

header p {
    font-family: 'Courier New', Courier, monospace;
}

section.mainbody {
    background-image: url("jb_back1.png");
    background-repeat: round;
    border: solid 5px green;
    padding: 8em;
    height: 10em;
}

section.mainbody ul {
    display: inline-block;
}

section.mainbody ul li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

nav ul li.listmain {
    margin: 1em 2em;
    font-size: 2.5em;
    font-family: fantasy;
    color: blanchedalmond;
    text-shadow: 1px 1px black;
}

nav.mainlinks ul li a {
    text-decoration: none;
    text-shadow: 1px 1px black;
    font-size: 1.5em;
    color: burlywood;
    margin: .25em 0em;
}

nav.mainlinks ul li a:visited {
    color: burlywood;
}

nav.mainlinks ul li a:hover {
    color: brown;
}

nav ul#classes {

}

nav ul#camps {

}

nav ul#store {

}

section.secondarybody {
    background-image: radial-gradient(closest-corner at 50% 50%, aqua, coral);
    border: 5px solid aqua;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
}

section.secondarybody p {
    margin: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    text-shadow: 1px 1px cornflowerblue;
    font-size: 1.25em;
}

footer {
    border: coral 5px solid;
    background-image: url("jb_back3.png");
    background-size: .5%;
}

footer h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orange;
    text-align: center;
    font-size: 3em;
    margin: 1em;
    text-shadow: 1px 1px greenyellow;
}

footer ul {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

footer ul li.mainslang {
    font-family: cursive;
    margin: 0 10em 1em 10em;
    font-size: 1.5em;
    color: aquamarine;
    text-shadow: 1px 1px black;
}

footer ul li {
    font-size: 1.2em;
    color: blueviolet;  
    text-shadow: 1px 1px black;
}

footer img {
    align-content: right;
}